    <header>
        <nav class="navbar navbar-default navbar-expand-lg bg-light">
            <div class="container-fluid" >
                <img src="{{ asset('images/Garage_parrot.png')}} " alt="logo-garage" class="logo" >
                <button class="m-inherit navbar-toggler textcolor" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512" fill="#9a0007">
                        <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 
                        128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 
                        32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32
                        32-32H416c17.7 0 32 14.3 32 32z"/></svg>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link text-dark link-hover link-warning fs-5" href="{{ path('app_home_page_index')}}">Accueil</a>
                        <a class="nav-link text-dark link-hover link-warning fs-5" href="{{ path('app_cars_page_index')}}">Voitures d'occasions</a>
                        <a class="nav-link text-dark link-hover link-warning fs-5" href="{{ path('app_contact_page_index')}}">Contactez nous</a>
                        <a class="nav-link text-dark link-hover link-warning fs-5" href="{{ path('app_opinion_page_index')}}">Avis</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>