{% extends 'base.html.twig' %}

{% block title %}Ajout d'un avis{% endblock %}

{% block body %}

<div class="card opinion-new">
    <h2 class="card-header opinion-new__title">Redigez votre avis</h5>
    <div class="card-body  opinion-new--label">
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.comment) }}
        {{ form_row(form.score) }}
        <button class="buton" type="submit" id="submitButton">Soumettre votre avis</button>
    {{ form_end(form) }}  </div>
</div>
    <a class="button opinion-new" href="{{ path('app_opinion_page_index') }}">Retourner sur la page avis</a>
    <section class="openningGarageSection">
        {% include "openning_garage/index.html.twig" %}
    </section>
{% endblock %}