{% extends 'base.html.twig' %}

{% block title %}Avis client{% endblock %}

{% block body %}
<section class="card opinion-show">
    <h1 class="opinion-show--title">Avis client</h1>
    <ul class="opinion-show--body">
        <li class="opinion-show__text">Nom : {{ opinion.name }}</li>
        <li class="opinion-show__text">{{ opinion.comment }}</li>
        <li class="opinion-show__text">{{ opinion.score }}</li>
        <li class="opinion-show__text">{{ opinion.createdAt ? opinion.createdAt|date('Y-m-d H:i:s') : '' }}</li>
    </ul>            
</section>
<section class="opinion-show--body">
    <a class="opinion-show__buton" href="{{ path('app_opinion_page_index') }}">Retour sur la page</a>
    <a class="opinion-show__buton" href="{{ path('app_opinions_edit', {'id': opinion.id}) }}">Rédiger un avis</a>
</section>
	<section class="openningGarageSection">
        {% include "openning_garage/index.html.twig" %}
    </section>
{% endblock %}
