<ul class="cars">
    <h2 class="card-title card-car__title">Liste des véhicules trouvés</h5>
    {% for paginatedCar in paginatedCars %}
        <li class="card-car">
            <div class="card">
                <div class="card-body carimage">
                    <img class="carimage" src="{{ vich_uploader_asset(paginatedCar, 'imageFile') }}" alt='photo de voitures'>
                </div>
                <div class="list-group list-group-flush">
                    <p class="card-car__text">Marque :
                        {{paginatedCar.brand}}</p>
                    <p class="card-car__text">Modèle :
                        {{paginatedCar.model}}</p>
                    <p class="card-car__text">Prix du véhicule :
                        {{paginatedCar.price}}</p>
                    <p class="card-car__text">Année de mise en circulation:
                        {{paginatedCar.years}}</p>
                    <p class="card-car__text">Kilométrage :
                        {{paginatedCar.kilometers}}</p>
                </div>
                <div class="card-body">
                    <a href="{{ path('app_cars_show', {'id': paginatedCar.id})}}" class='link-to-show-car underline car-btn'>Voir la voiture</a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
<section class="d-flex justify-content-center">
    {{ knp_pagination_render(paginatedCars) }}
</section>

